@media all and (max-width: 1000px) {
  section.boxes {
    flex-wrap: wrap
  }
  
}



div.box {
  border: 1px solid;
  min-height: 150px;
  width: 100%;
  margin: 3%;
}

div.box:nth-child(3) {
  background-color: red;
}


section.boxes, section.articles {
  display: flex;
}


body {
  background-color: #8cc14a;
  margin: 0 auto;
}


nav a:hover {
  background-color:  red;  
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  flex: 1;
}


nav a {
  text-decoration: none; 
  background-color: #79be15;
  color: white;
  padding: 20px 5px;
  display: block;
  text-align: center;
} 

main {
  background-color: rgb(255 255 255);
  max-width: 980px;
  margin: 0 auto;
  padding: 10px;
}


